<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<title>Moose</title>
		<link rel="stylesheet" href="static/css/reset.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="static/css/main.css" type="text/css" media="screen" charset="utf-8" />
		<script src="static/js/masonry.pkgd.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="container">
            <div id="header" class="main">
            	<div id="headerImage" class="rightAlign">
            		<img src="static/images/logo.jpg" />
            	</div>
            	<div id="headerText">
            		Moose.com
            	</div>
            	<div id="headerButtonsContainer" class="leftAlign">
            			<button name="login" value="Log in" class="logInButton">Log in</button>
            	</div>
            </div>
            <div id="content" class="main">
            	<div id="leftColumn">
            		<div id="formContent">
            			<h3>Free to signup using:</h3>
            			<div id="logos">form.
            				<img src="static/images/gmail.png" />
            				<img src="static/images/yahoo.png" />
            				<img src="static/images/outlook_logo.png" />
            			</div>
            			<h3>or</h3>
	            		<form name="signup" id="signUpForm" method="post" action="signup.php">
					{{form.email}}<br>
					{{form.password}}
	            			<input type="submit" name="test" value="Sign up" class="signUpForm button signUpButton" />
	            		</form>
	            		<div id="bottomFormText" class="signUpForm">
	            			By clicking "Sign up" you agree to Moose.com <a href="#">Terms of Use</a>
	            		</div>
            		</div>
            	</div>
            	<div id="central">
            		<h3>See your Deals and Shopping Receipts from <br /> you email inbox <br />in a Easy and Fun way</h3>
            		<div id="centralImage">
	            		<img src="static/images/iphone_display.png" />
            		</div> <!-- placeholder for the image -->
            		<div id="howItWorks">
            			Watch how it works
            		</div>
            	</div>
            	<div class="column" id="rightColumn">
            		<div id="feedback">Feedback</div>
            	</div>
            	<div class="clear">
            	</div>
            </div>
            <div id="footer" class="main">
            	only the footer <img src="static/images/twitter.jpg" /> <img src="static/images/facebook.jpg" />
            </div>
        </div>
	</body>
</html>
