
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Moose</title>

		<link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="../static/css/main.css" type="text/css" media="screen" charset="utf-8" />
		<script src="../static/js/jquery-2.0.3.js" type="text/javascript"></script>
		<script src="../static/js/masonry.pkgd.js" type="text/javascript"></script>
		<script src="../static/js/DOMBuilder.min.js" type="text/javascript"></script>
		<script src="../static/js/bootstrap.js" type="text/javascript"></script>
		<script src="../static/js/dealsPage.js" type="text/javascript"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript">
		(function($) {
	    var oldHide = $.fn.popover.Constructor.prototype.hide;
	
	    $.fn.popover.Constructor.prototype.hide = function() {
	        if (this.options.trigger === "hover" && this.tip().is(":hover")) {
	            var that = this;
	            // try again after what would have been the delay
	            setTimeout(function() {
	                return that.hide.call(that, arguments);
	            }, that.options.delay.hide);
	            return;
	        }
	        oldHide.call(this, arguments);
	    };
		})(jQuery);
		</script>
	</head>
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
	<body>
		<div id="container">
            <div id="headerWithNavbar" class="main">
            	<div id="headerImage" class="rightAlign">
            		<img src="../static/images/logo.jpg" />
            	</div>
            	<div id="headerText">
            		<div id="headerTitle">Moose</div>
            		<ul id="navbar">
            				<li><a href="#">Home</a></li>
            				<li><a href="#">Deals</a></li>
            				<li><a href="#">Favorite</a></li>
            				<li><a href="#">Receipt</a></li>
            		</ul>
            	</div>
            	<div class="clear"></div>
            	<div id="headerButtonsContainer2" class="rightAlign">
            			<input type="search" name="search" placeholder="Search" /> <button name="login" value="Invite" class="logInButton">Invite friends</button> <button name="login" value="Settings" class="logInButton">Settings</button>
            	</div>
            </div>
            <div id="content" class="main">
				<script>

					var width = 960,
						height = 500;

					var color = d3.scale.category20();

					var force = d3.layout.force()
						.charge(-120)
						.linkDistance(30)
						.size([width, height]);

					var svg = d3.select("body").append("svg")
						.attr("width", width)
						.attr("height", height);

					d3.json("fav.json", function(error, graph) {
					  force
						  .nodes(graph.nodes)
						  .links(graph.links)
						  .start();

					  var link = svg.selectAll(".link")
						  .data(graph.links)
						.enter().append("line")
						  .attr("class", "link")
						  .style("stroke-width", function(d) { return Math.sqrt(d.value); });

					  var node = svg.selectAll(".node")
						  .data(graph.nodes)
						.enter().append("circle")
						  .attr("class", "node")
						  .attr("r", function(d) { return d.numberDeals;})
						  .style("fill", function(d) { return color(1); })
						  .call(force.drag);

					  node.append("title")
						  .text(function(d) { return d.company; });

					  force.on("tick", function() {
						link.attr("x1", function(d) { return 1; })
							.attr("y1", function(d) { return 2; })
							.attr("x2", function(d) { return 3; })
							.attr("y2", function(d) { return 4; });

						node.attr("cx", function(d) { return d.x; })
							.attr("cy", function(d) { return d.y; });
					  });
					});

				</script>
            	<div id="central" class="noLeftColumn">
            		
            		<div id="dealsBox" class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 220, "gutter": 10 }'>
            		<div class="clear"></div>
					</div>
            		
            	</div>
            	
            	<div class="column" id="rightColumn">
            		<div id="feedback">Feedback</div>
            	</div>
            	<div class="clear">
            	</div>
            </div>
            <div id="footer" class="main">
            	only the footer <img src="../static/images/twitter.jpg" /> <img src="../static/images/facebook.jpg" />
            </div>
        </div>
	</body>
</html>
