*{
	font-family: Helvetica;
}

body{
	margin: 0;
	padding: 0;
}

a{
	color: black;
}

a:hover{
	text-decoration: none;
}

#container{
	width: 100%;
/*	padding: 5px;*/
	text-align: center;
/*	border: 1px solid blue;*/
}

.clear{
	clear: both;
}

.leftAlign{
	text-align: left;
}

.rightAlign{
	text-align: right;
}

.main{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#header{
	border-bottom: 1px solid black;
	text-align: left;
}

#headerWithNavbar{
	border-bottom: 1px solid black;
	height: 150px;
	text-align: left;
}

#headerImage{
	width: 40%;
	float: left;
	display: inline-block;
}

#headerImage img{
	margin-top: 10px;
	 height:100px;
}

#headerText{
	text-align: center;
	font-size: 40pt;
	width: 25%;
	height: 80px;
	padding-top: 20px;
	float: left;
	display: inline-block;
}

#headerButtonsContainer{
	width: 20%;
	float: left;
	padding-left: 100px;
	padding-top: 40px;
	display: inline-block;
	border: 1px solid red;
}

#headerButtonsContainer2{
	width: 100%;
	padding-right: 10px;
	display: inline-block;
}

#content{
	/*border: 1px solid red;*/
}

#footer{
	/*border: 1px solid red;*/
}


#bottomFormText{
	display: inline-block;
	height: auto;
	border: none;
}

#id_password, #id_email, .signUpForm{
	width: 200px;
	height: 20px;
	border: 2px solid gray;
	padding: 5px;
	margin: 10px 2px;
	font-size: 10pt;
}

.signUpForm[type=submit]{
	border: none;
}

.signUpButton{
	background-color: rgb(231, 76, 60);
	color: white;
}

.logInButton{
	background-color: rgb(51, 51, 51);
	color: white;
	width: 100px;
	height: 32px;
	border: none;
	padding: 5px;
	font-size: 10pt;
}


.button{
	height: 32px;
	width: 214px;
}

#logos img{
	width: 60px;
	margin-right: 10px;
}

#footer img{
	width: 40px;
	margin-right: 10px;
}

#leftColumn{
	padding-top: 10px;
	width: 250px;
	margin: 20px 10px;
	float: left;
	border: none;
}

#central{
	float: left;
	margin-top: 20px;
	width: 650px;
}

#howItWorks{
	text-align:left;
	position:relative;
	background-color:rgb(51,51,51);
	color:white;
	padding:5px;
	width: 150px;
	top:-28px;
}

#rightColumn{
	float: right;
	margin-right: 0;
	width: 70px;
}

#rightColumn #feedback{
	margin-top:100px;
	margin-right:0;
	text-align:right;
	background-color:blue;
	color:white;
	padding:5px 5px;
	
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}


#centralImage{
	width: 100%;
	height: 300px;
	min-height:300px;
	background-color: blue;
}

#centralImage img{
	height: 250px;
}

.noLeftColumn{
	margin-left: 10%;
/*	background-color: red;*/
	width: 80% !important;
}

.masonry * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.masonry {
  width: 100%;
}

.masonry .item {
  width:  220px;
  height: 300px;
  margin-bottom: 10px;
  padding-top: 5px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

/*.masonry .item:hover{
	border: 5px solid green;	
}*/

.item img{
	width: 180px;
}

.shareBox{
	float:left;
	padding-left: 20px;
}

.imageBox{
	float:right;
	padding-right: 20px;
}

.imageBox img{
	width: 30px;
}

.descriptionBox{
	margin: 15px;
}

#navbar{
	text-align: center;
	margin-top: 0px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0;
	list-style-type:none;
	font-size: small;
}

#navbar li{
	display:inline;
}

.newItem{
	background-color: green !important;
}